*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.idea/
/.idea/shelf/
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2022_7_8_16_36_[Default_Changelist]/
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2022_7_8_16_36_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2022_7_8_16_36_[Default_Changelist]1/
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2022_7_8_16_36_[Default_Changelist]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_2022_7_8_16_36__Default_Changelist_.xml
/.idea/compiler.xml
